{% for row in spreadsheet_VLAN %}
vlan {{row.VLAN_ID}}
  name {{row.Tenant_Name}}_VL{{row.VLAN_ID}}
  vn-segment {{row.VXLAN_ID}}

interface nve1
  member vni {{row.VXLAN_ID}}
    suppress-arp
    mcast-group {{row.Mcast_group}}

evpn
  vni {{row.VXLAN_ID}} l2
    rd auto
    route-target import auto
    route-target export auto

interface Vlan{{row.VLAN_ID}}
  vrf member {{row.Tenant_Name}}
  ip address {{row.IP_Address}}
  fabric forwarding mode anycast-gateway
  no shutdown

{% endfor %}

