{% for row in spreadsheet_Access %}
{% if switchname == row.Hostname %}
interface {{row.Interface}}
  description {{row.Description}}
  switchport 
  {% if row.Intf_Type == "trunk" -%}
  switchport mode trunk
  {% if row.is_vPC_Member == "False" and row.Access_VLAN -%}
  switchport trunk allowed vlan {{row.Access_VLAN}}
  {% endif -%}
  {% endif -%}
  {% if row.Intf_Type == "access" -%}
  switchport mode access
  switchport access vlan {{row.Access_VLAN}}
  {% endif -%} 
  no shutdown
{% if row.is_vPC_Member == "True" %}
  channel-group {{row.vPC_Nbr}} mode active

interface port-channel{{row.vPC_Nbr}}
  description {{row.Description}}
  vpc {{row.vPC_Nbr}}
  {% if row.Intf_Type == "trunk" and row.Access_VLAN %}
  switchport trunk allowed vlan {{row.Access_VLAN}}
  {% endif -%}
{% endif %}

{% endif %}
{% endfor %}


