#
{% for row in spreadsheet_Tenant %}
#
vlan {{row.L3_VNI_VLAN}}
  name L3-VNI-for-{{row.Tenant_Name}}
  vn-segment {{row.L3_VNID}}
#
vrf context {{row.Tenant_Name}}
  vni {{row.L3_VNID}}
  rd auto
  address-family ipv4 unicast
!  route-target import {{row.L3_VNID}}:{{row.L3_VNID}}
!  route-target export {{row.L3_VNID}}:{{row.L3_VNID}}
  route-target both auto
  route-target both auto evpn
#
interface vlan{{row.L3_VNI_VLAN}}
  description L3-vni-for-{{row.Tenant_Name}}
  vrf member {{row.Tenant_Name}}
  no shut
#
interface nve1
  member vni {{row.L3_VNID}} associate-vrf
#
router bgp {{spreadsheet_Global[0].BGP_AS}}
  vrf {{row.Tenant_Name}}
    address-family ipv4 unicast
      advertise l2vpn evpn
#
{% endfor %}
#
send * Configured by {{ansible_ssh_user}} from Ansible role {{role}} on {{ansible_date_time.date}} {{ansible_date_time.time}}
