#
# Template for leaf uplinks
#
interface Ethernet1/1
  description LEAF1-SPINE1
  no switchport
  mtu 9216
  load-interval counter 1 5
  ip address 10.100.101.10/30
  no ipv6 redirects
  ip ospf authentication message-digest
  ip ospf message-digest-key 1 md5 C1sc0.123
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode
  no shutdown
!
interface Ethernet1/2
  description LEAF1-SPINE2
  no switchport
  mtu 9216
  load-interval counter 1 5
  ip address 10.100.101.26/30
  no ipv6 redirects
  ip ospf authentication message-digest
  ip ospf message-digest-key 1 md5 C1sc0.123
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode
  no shutdown
!
end
#
# You should uncomment the following if you want the changes to survive a reboot
#
# copy running-config startup-config
#
send * Configured by demouser from Ansible role evpn_build_leaf on 2016-08-17 11:00:35
#
