#
# Template for leaf uplinks
#
interface Ethernet2/1
  description To Spine-1
  no switchport
  mtu 9216
  load-interval counter 1 5
  ip address 192.168.2.2/30
  no ipv6 redirects
  ip ospf authentication message-digest
  ip ospf message-digest-key 1 md5 C1sc0.123
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode
  no shutdown
!
end
#
# You should uncomment the following if you want the changes to survive a reboot
#
# copy running-config startup-config
#
send * Configured by mullenma from Ansible role evpn_build_leaf on 2016-03-18 16:08:15
#
