{% for row in spreadsheet_Uplinks %}
{% if switchname == row.Hostname %}
interface {{row.Interface}}
  description {{row.Description}}
  no switchport
  mtu 9216
  load-interval counter 1 5
  ip address {{row.IP_Address}}
  no ipv6 redirects
  ip ospf authentication message-digest
  ip ospf message-digest-key 1 md5 3 {{spreadsheet_Global[0].OSPF_MD5_Key}}
  ip ospf network point-to-point
  ip router ospf {{spreadsheet_Global[0].OSPF_Process_ID}} area 0.0.0.0
  ip pim sparse-mode
  no shutdown

{% endif %}
{% endfor %}


